#title {
  background-color: white;
  margin: 2vw;
  padding: 0.5vw;
  padding-top: 1vw;
}

#title h1 {
  margin-left: 4vw;
}

#title h1, #title button {
  display: inline-block;
}

#title .mainbutton {
  float: right;
  /* padding-left:1vw;
        padding-right:1vw;
        margin-bottom: 2vw; */
  font-family: Cambria;
  background-color: lavenderblush;
  border: none;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 50px;
  cursor: pointer;
  margin: 4px 25px;
  margin-top: 2vw;
  color: #550255;
  font-weight: bold;
}

body {
  font-family: Cambria;
  color: #550255;
  background-color: lavenderblush;
}

input, textarea {
  width: 25vw;
  height: 2.5vw;
  font-size: 1.3vw;
  background: transparent;
  border: none;
  border-bottom: 0.1vw solid black;
}

#content {
  /* border:1px solid black; */
  background-color: white;
  margin: 2vw;
  margin-top: -0.2vw;
  padding: 3vw;
  padding-top: 1vw;
}

#content .searchElements {
  margin-left: 5vw;
  margin-right: 0.1vw;
  margin-bottom: 3vw;
  font-size: 1.5vw;
}

#content #dropdown {
  font-family: Cambria;
  background-color: lavenderblush;
  border: none;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 50px;
  cursor: pointer;
}

#content #pattern {
  width: 25vw;
  height: 2.5vw;
  font-size: 1.5vw;
  background: transparent;
  border: none;
  border-bottom: 0.2vw solid black;
}

#content #searchBoxButton {
  font-family: Cambria;
  background-color: lavenderblush;
  border: none;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 50px;
  cursor: pointer;
  margin-bottom: 1px;
}

#content #bookTable {
  width: 100%;
  padding: 1vw;
  border-collapse: collapse;
}

#content #bookTable #headingRow {
  border-bottom: 1px solid black;
  padding: 2vw;
}

#content #bookTable .tableHeader {
  text-align: left;
  font-size: 1.3vw;
  padding: 0.8vw;
}

#content #bookTable .tableRow {
  border-bottom: 1px solid black;
  padding: 2vw;
}

#content #bookTable .tableData {
  text-align: left;
  font-size: 1.3vw;
  padding: 0.8vw;
}

#content #bookTable .tableData .button {
  font-family: Cambria;
  background-color: lavenderblush;
  border: none;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 50px;
  cursor: pointer;
  margin: 4px 15px 4px 2px;
}

#content #holdElements {
  border: 1px solid #550255;
}

#content .addbookFormDiv {
  margin: 2vw;
  margin-left: 30vw;
  padding-left: 1vw;
}

#content .addbookFormDiv .addBookformLabel {
  font-size: 1.3vw;
  width: 50px;
  margin-right: 2vw;
}

#content #submitBookDetails {
  font-family: Cambria;
  background-color: lavenderblush;
  border: none;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 50px;
  cursor: pointer;
  height: 4vw;
  width: 10vw;
}

#content #bookDetails {
  padding: 1vw;
}

#content #bookDetails .others {
  padding: 0.5vw;
  margin: 2vw;
}

#content #bookDetails #description {
  text-align: justify;
}
/*# sourceMappingURL=stylescss.css.map */