.navbar-brand-titleOne {
    color: white;
    margin-right: 2vw;
    padding: 5px 3px 0px 3px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .form-group,
  .form-row {
    max-width: 500px;
  }
  .addBookForm {
    margin-left: 30vw;
  }
  .submitform {
    margin-top: 20px;
    margin-left: 200px;
  }
  .title {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
  }
  .dropDown {
    border-radius: 30px;
    margin: 10px;
  }
  .stars-background {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
  .stars-background::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    color: #f8ce0b;
    color: black;
  }
  .fa-stars {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 86%;
  }
  .fa-stars::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
    color: black;
  }
  /* .loginForm{
    margin-left: 35vw;
    margin-top: 10vw;
  } */
  .registrationForm{
    margin-top: 3vw;
    margin-left: 35vw;
  }
  .mybar{
    margin-left: 20vw;
  }
  .nav-item-new{
    margin: 2vw 0vw 23vw 0vw;
    width:10vw;
    color:black;
  } 
  .nav-link-one{
    text-decoration: none;
    padding:1vw;
    color: white;
    font-weight:bold;
    font-size:medium;
  } 
  .nav-link-one:hover{
    color: rgb(170, 170, 170);
    cursor: pointer;
    font-weight:bold;
    font-size:medium;
  } 
  .linkOption{
    background-color:white;
    font-weight: bold;
    font-size:larger;
    color:black;
    width:20vw;
    margin:3vw 0vw 0vw 5vw;
    text-align: center;
  }
  .linkOption:hover{
    background-color: white;
  }
  .linkOption-one{
    background-color:white;
    font-weight: bold;
    font-size:larger;
    color:black;
    width:20vw;
    margin:3vw 0vw 0vw 5vw;
    margin-top: 12vw;
    text-align: center;
  }
  .loginForm{
    margin-left: 12vw;
    margin-top: 10vw;
  } 
  .loginPhoneForm{
    margin-left: 12vw;
    margin-top: 14vw;
  }
  .table{
    max-width: 60vw;
    font-family: Cambria;
    font-size: 1.2vw;
    border-collapse:collapse;
    border:1px solid black;
    padding:8px;
    text-align:center;
    border:0.2px solid rgb(167, 166, 166); 
    border-radius: 10px;
    box-shadow:0 0 10px 0.1px rgba(0,0,0,0.03);
    position: relative;
    margin-top: 3vw;
    margin-left:auto; 
    margin-right:auto;
  }
  .table th{
    font-family: Cambria;
    font-size: 1.2vw;
    text-transform: uppercase;
    border-collapse:collapse;
    border:1px solid black;
    padding:8px;
    text-align:center;
    border:0.2px solid rgb(211, 209, 209); 
    border-radius: 10px;
    box-shadow:0 0 15px 0.1px rgba(0,0,0,0.03);
  }
  .table td{
    font-family: Cambria;
    font-size: 1.2vw;
    border-collapse:collapse;
    border:1px solid black;
    padding:8px;
    text-align:center;
    border:0.2px solid rgb(211, 209, 209); 
    border-radius: 10px;
    box-shadow:0 0 15px 0.1px rgba(0,0,0,0.03);
  }
  .table tr{
    font-family: Cambria;
    font-size: 1.2vw;
    border-collapse:collapse;
    border:1px solid black;
    padding:8px;
    text-align:center;
    border:0.2px solid rgb(211, 209, 209); 
    border-radius: 10px;
    box-shadow:0 0 15px 0.1px rgba(0,0,0,0.03);
  }
  .navbar-main{
    background-color: rgb(175, 175, 175);
  }
  .form-control{
    font-family:Cambria ;
    margin:12px;
    width:220px;
    height:40px;
    font-size: 15px;
    border:0.2px solid rgb(211, 209, 209); 
    border-radius: 10vw;
    box-shadow:0 0 8px 2px rgba(0,0,0,0.06);
  }
label{
    font-family:Cambria;
    margin-left: 0.9vw;
    font-size: 16px;
}
.mainHeading{
  margin-top: 2vw;
  font-family: Cambria;
  margin-left:46vw; 
}